<div class="row" id="accomodations">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Accomodations</h1>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>*Kitchener-Waterloo Oktoberfest is on during our Wedding weekend*</h3>
        <img class="img-thumbnail" src="../../../static/images/oktoberfest.h" alt="Deer Ridge Gold Course">
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="center" style="text-align:center;">PLAN AHEAD AND BOOK YOUR ACCOMODATIONS ASAP</p>
        <p>Kitchener–Waterloo Oktoberfest is an annual nine-day festival, running from October 11-19, 2019. It's
            Canada's Greatest Bavarian Festival and is the second-largest Oktoberfest in the world after Munich,
            Germany. Estimates indicate that the event attracts roughly 700,000 visitors to Waterloo Region each year.
        </p>
        <p> Our wedding weekend will be a busy one in the region and hotels are sure to book up fast - please plan
            accordingly.</p>
        <p>There are sure to be lots of 'R.I.D.E' programs out on the roads during Oktoberfest. Our venue offers FREE
            overnight parking. Please use it and get home safely.</p>

    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>The Walper Hotel</h3>
        <img class="img-thumbnail" src="../../../static/images/walperhotel.h" alt="Deer Ridge Gold Course">
        <p class="center" style="text-align:center;">20 Queen St South, Kitchener, Ontario</p>
        <p class="center" style="text-align:center;">1-800-265-8749</p>
        <p>Indulge in history and old world charm at the freshly renovated Walper Hotel. With a stay at this historic
            hotel, one of the region's most historic buildings (a 1893 iconic landmark) you'll be centrally located
            right in the epicenter of Kitchener. Make yourself at home in this stunning boutique hotel, in one of the 92
            stunning rooms. Self-parking (subject to charges) is available onsite.</p>

        <p>Use code KMHWEDDING at the time of booking to book from our room block and to take advantage of our preferred
            group rate of $207.20/night + tax. Occupancy ranges from 2-4 people per room. Group rate is available until
            September 1st, while rooms last. Don't delay, book today!</p>
    </div>
    <div class="col-md-2"></div>
</div>