<!-- <p id="our_story"></p><br><br> -->

<h1 id="our_story">Our Story</h1>

<p class="pclass">
    Kim and Max fell hard and fast for one another while they were both living in Toronto. Had it not been for online dating, 
    chances are slim that these two would have connected in the real world!
</p> 

<p class="pclass">
    Kim, a career-focused Marketing gal, spent her post-University life living downtown Montreal for 5 years working at the 
    glitzy L’OREAL head office, followed by 5 years in Toronto working predominately in the natural health and wellness industry - a passion of hers. Max, 
    originally from Saint John, New Brunswick, spent his post-University years working and living at remote sites across the country, specifically in Fort 
    McMurray and in northern Manitoba, working in finance. Max quickly realized that he didn’t want to be away from Kim for three weeks each month for work 
    (which was the nature of his job) so he resigned and together they moved to Kitchener Waterloo (Kim’s hometown) for a fresh start.
</p>

<p class="pclass">
    Max went back to school in KW to pursue a passion of his – IT – and now works in the booming Waterloo tech industry. Kim also works locally in her field 
    of Marketing.
</p>

<p class="pclass">
    The happy couple and their adorable rescue dog Trixie Ann, are so thankful for the life they’ve built together and can’t wait to celebrate their wedding 
    this fall with their friends and family and to embark on their next chapter, marriage!
</p>

<h3>The Proposal</h3>

<p class="pclass">
    On September 22, 2018, which happened to be the first day of fall, Max popped the question! It was a beautiful sunny day and the couple was out walking 
    the dog on a trail in the woods in their neighbouhood, when Max pretended to have tripped and hurt himself... conveniently in the 'down on one knee' 
    position. A concerned Kim, up ahead with Trixie Ann, raced back to see if he was OK. He was faking it! Next thing she knew, he was pulling a ring 
    box out of his pocket.
</p>