<!-- <p id="the_wedding"></p><br><br> -->

<div class="row" id="the_wedding">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>The Wedding</h1>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img class="img-thumbnail" src="../../../static/images/deerridge.jpeg" alt="Deer Ridge Gold Course">
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="center" style="text-align:center;">Saturday, October 19, 2019</p>
        <p class="center" style="text-align:center;">4:30 PM</p>
        <p><strong>Attire:</strong> Black Tie Welcome. Please include if you have food allergies in the notes section of the RSVP.
            Although we love your little ones, please note that this will be an adults-only celebration. We thank you
            for your understanding.</p>
    </div>
    <div class="col-md-2"></div>
</div>