<!-- <p id="wedding_party"></p><br><br> -->

<h1 id="wedding_party">Wedding Party</h1>

<div>
    <!-- <div class="row">
        <div class="col-md-6">
            <h3>Bridesmaids</h3>
        </div>
        <div class="col-md-6">
            <h3>Groomsmen</h3>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <img class="img-circle" src="../../../static/images/kellyheadshot.jpg" alt="headshot of Kelly" width="200"
                height="200">
            <h4>Kelly Snyder - Maid of Honour</h4>
            <p>
                Kelly and Kim are not only sisters, but best friends. Kim was Kelly’s Maid of Honour at her gorgeous
                fall 2017 wedding
                and Kelly is excited to do the honours for Kim. Kelly has provided tremendous support to Kim throughout
                the wedding
                planning journey, helping her to find vendors, make tough decisions, give advice and ultimately plan her
                dream wedding.
                Kelly was also a big help to Max, who enlisted her help to pick out the perfect engagement ring (smart
                man)! She is a
                Realtor in KW and also sold Kim and Max their home, which they have happily been living in since March
                2018. These
                sisters have a special bond and are so thankful for their amazing relationship!
            </p>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class="img-circle" src="../../../static/images/carlheadshot.jpg" alt="headshot of Carl" width="200"
                height="200">
            <h4>Carl Wickstrom - Best Man</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsam pariatur, reiciendis quia
                voluptates veniam amet rerum obcaecati expedita fugiat. Maxime eius quam accusantium earum labore iste
                repellat rem qui.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/lindyheadshot.jpg" alt="headshot of Kelly" width="200"
                height="200">
            <h4>Lindy Herrington - Bridesmaid</h4>
            <p>
                Lindy is the middle child in the Herrington family and was an obvious choice to be one of Kim’s
                bridesmaids! Max and Lindy have always had a unique relationship, bonding over such things as Harry
                Potter and Star Wars. Only 2 years younger than Max, the two had lots of mutual friends over the years
                and were even roommates at one point while living in Halifax. Lindy lives and works in Toronto as a
                lawyer. Kim is looking forward to officially becoming sisters-in-law with the Herrington girls!
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/chrisheadshot.jpg" alt="headshot of Chris" width="200"
                height="200">
            <h4>Chris Blair - Groomsman</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsam pariatur, reiciendis quia
                voluptates veniam amet rerum obcaecati expedita fugiat. Maxime eius quam accusantium earum labore iste
                repellat rem qui.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/taylorheadshot.jpg" alt="headshot of Taylor" width="200"
                height="200">
            <h4>Taylor Herrington - Bridesmaid</h4>
            <p>
                Taylor is the youngest Herrington sister and has a special place in Max’s heart - he affectionately
                refers to her as Tay Tay. Since Taylor graduated from Queens University, she's spent the last two years
                working at Trinity College in Aurora, the private school she attended on an ice hockey scholarship. She
                looks forward to starting Teacher’s College in the fall at Trent.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/kyleheadshot.jpg" alt="headshot of Kyle" width="200"
                height="200">
            <h4>Kyle Rogers - Groomsman</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsam pariatur, reiciendis quia
                voluptates veniam amet rerum obcaecati expedita fugiat. Maxime eius quam accusantium earum labore iste
                repellat rem qui.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/ashleyheadshot.jpg" alt="headshot of Ashley" width="200"
                height="200">
            <h4>Ashely Mojito - Bridesmaid</h4>
            <p>
                Ashley and Kim met as colleagues at L’Oreal, working downtown Montreal. They hit it off immediately and
                have been very close friends ever since. Every time Kim is with Ashley, it’s always a lot of laughs
                (Ashley is one hilarious gal!) and a fun time. Ashley’s super positive, bubbly personality is
                contagious. Kim is so thankful to have Ashley by her side on her wedding day and for her friendship.
                Ashley, originally from Calgary, lives in Toronto with her husband John and their two children Timothy
                and Anne-Marie and works as a Sales Manager. SHE HAS MASSIVE MOM BOOBS
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-circle" src="../../../static/images/jasonheadshot.jpg" alt="headshot of Jason" width="200"
                height="200">
            <h4>Jason Hackett - Groomsman</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ipsam pariatur, reiciendis quia
                voluptates veniam amet rerum obcaecati expedita fugiat. Maxime eius quam accusantium earum labore iste
                repellat rem qui.
            </p>
        </div>
    </div>

</div>